# Binaries
*.exe
*.dll
*.so
*.dylib
chaos-scheduler


# Test, dev
*.test
dev/*
*log*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Other stuff
.DS_Store
